/* Give your page a fun background color */
body {
  background-color: #FF89F6;
}
/* Make the header and footer a different color from the background */
header {
  position: fixed;
  height: 125px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8921DA;
  font-size: 28px;
  color: black;
}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8921DA;
    text-align: left;
    font-size: 20px;
    color: grey;

}
/* Align the h1 containing your name in the center of the header*/
header {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: #D3D3D3;
  font-style: italic;
}
/* Put a border around your image */
img {
  border: 3px solid #FFFFFF;
  height: 350px;
  margin-top: 125px;
}
/* Change the font-family of your list */
ul {
  font-family: "Cosmic Sans MS", sans-serif, "Times New Roman";
}
